@media(max-width:1000px){
	.fullcard{
		flex-wrap:wrap;
	}
	.mainBody {
    position: absolute;
    width: 100%;
    top: 100px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
	}
	
	body {
    background: url(images/logoBack.jpg);
    background-size: 150% 10000px;
    background-repeat: no-repeat;
	}
}


